nav{   
     position: relative;
}
.navbar-toggle{
    text-align: right;
    margin-right: 2rem;
}
#navBar .toggle-nav{
    margin-left: 10rem;
}
.navbar{
    background-color: #0066bb;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menu-bars{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.nav-menu{
    background-color: #16406ab5;
    width:36%;
    height: 56vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    right: -46.5%;
    transition: 850ms;
}
.nav-menu.active{
    right: 17.5%;
    transition: 20m;
    z-index: 999;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 8px 0;
    list-style: none;
    height: 60px;
}
.nav-items a{
    text-decoration: none;
    font-size: 18px;
    color: #f5f5f5;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-items a:hover{
    background-color: #1a83ff;
}
.nav-menu-items{
    width: 90%;
}
.nav-toggle{
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}