
ul{
  display: flex;
  justify-content: space-around;
  font-family: Poppins;
  font-weight: 400;
  list-style: none;
  margin: 1rem 0;
  padding-left: 0%;
}
ul li a{
  color: #ffffff;
}
ul li a:hover{
  color: #ffffff;
  text-decoration: none;
}

p > a{
  color: #ffffff;
}
p > a:hover{
  text-decoration: none;
  color: #ffffff;
}

header{
  background-image: linear-gradient(to left, #103b6678,#103B66),url('images/foreground.jpg');
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.sticky{
  position: fixed;
    width: 100%;
    background: black;
    top: 0;
    z-index: 100;
}
.contact-bar{
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0.7rem;
  font-family: Roboto;
  font-weight: 300;
  background-color: #000000;
  color: rgb(231 230 230);
}

.contact-bar p{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  font-family: Poppins;
  width: 40%;
  font-weight: 500;
  font-size: .7rem;
}
.contact-bar ul{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  font-family: Poppins;
  width: 40%;
  font-weight: 500;
  font-size: .8rem;
}

nav{
  display: flex;
  justify-content: space-around;
  color:#ffffff ;
}
nav > p{
  width: 16%;
  letter-spacing: 2px;
  font-family: Poppins;
  font-weight: 700;
  margin: 1rem 0;
}

nav > p> a{
  text-decoration: none;
    color: #ffffff;
}
nav >ul{
  width: 30%;
}

.hero-text{
  width: 585px;
  position: absolute;
  top: 35%;
  left: 16.5%;
  font-family: Poppins;
  transform: translate(-50px, -50px);
}
.hero-text .hero-text-caption{
  width: 444px;
  font-size: 1.7rem!important;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-text .hero-text-caption > h2{
  font-weight: 600;
  font-size: revert;
}
.hero-text, h2{
 margin: 0;
}

.btn-read{
  border: 1px solid;
  padding: .4rem .7rem;
  border-radius: 7px;
  text-decoration: none;
  color: #ffffff;
}

/* .about-container{
  
} */
.about-content{
    display: flex;
    justify-content: space-between;
    /* padding: 2rem; */
}

.about-story{
    width: 59%;
    text-align: left;
    font-family: Roboto;
    font-weight: 300;
}
.about-story >h1{
    font-family: Poppins;
    font-weight: 700;
    width: 50%;
}

#myBtn{
  border: 1px solid #768EA7;
  padding: 0.6rem;
  border-radius: 5px;
}
main{
  max-width: 1150px;
  margin: 0 auto;
}

section{
  text-align: center;
  margin-top: 5rem;
  /* position: relative; */
}
section > h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem!important;
  margin: 4rem 0 1rem 0;
}
/* section > h1:after {
    content: '';
    width: 10%;
    position: absolute;
    left: 45%;
    bottom: 15%;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #63b0a2
} */

.card-container{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.card{
  margin: 0.8rem 0 0.8rem 0;
}
.row1{
  margin-top: 0.8rem;
}
.row .col-lg-4 .card{
  position: relative;
  overflow: hidden;
}
.row .col-lg-4 .details{
  position: absolute;
  top:10px ;
  left: 10px;
  right: 10px;
  bottom:10px;
  z-index: 99;
  background: rgb(0,0,0,0.8);
  transform: scaleY(0);
  transition: transform .5s;
}
.row .col-lg-4:hover .details{
  transform: scaleY(1);
}
.row .col-lg-4 .details .content{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
  padding: 0 10px 10px 10px;
  
}
.row .col-lg-4 .details .content h2{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color:#ffc107 
}
.row .col-lg-4 .details .content p{
  margin: 10px 0 0;
  padding: 0;
}
.row .col-lg-4 .card img{
 max-width: 100%;
 transition: transform 2s;
}
.row .col-lg-4:hover .card img{
  transform: scale(1.2);
}

.hover-overlay h5{
   position: absolute;
    top: 32%;
    left: 50%;
    color: #ffc107 ;
    transform: translate(-50%, 95%);
    font-size: 1rem;
    width: 85%;
    /* padding-bottom: 1.2rem; */
}
.hover-4 .hover-overlay{
  background: rgba(0, 0, 0, 0.6);
  z-index: 90;
}
.hover-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

/* Testimony */

.container > h2{
  margin-bottom: 3rem;
}
.testimony-container{
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
  padding: 0 2rem;
}

.testimony-background{
  height: 20vh;
  background-image: linear-gradient(#041629, #041629);
  border-radius: 8px
}
.testimony-content{
  width: 30%;
  position: relative;
  padding: 3rem 1rem 1rem;
  box-shadow: 3px 5px 9px 1px #888888;
  border-radius: 8px
}
.testimony-content >p{
  margin-top: 1rem;
  text-align: left;
}
.testimony-content .img-container{
  position: absolute;
  bottom: 62%;
  width: 98%;
  height: 46%;
  right: 2%;
}

.client-details{
  display: flex;
  justify-content: space-between;
  color:#16406A;
  font-size: 0.6rem;
}

.img-container h4{
  text-align: left;
  margin-left: 1rem;
  font-family: Roboto;
  font-size: 1.2rem!important;
}

.img-content{
  border-radius: 100%;
  width: 14%;
  height: 45%;
}
.testimony-content .img-container img{
  width: 100%;
  border-radius: 53%;
  height: 100%;
}

/* contact */
.contact{
  background-color: #F3F3F3;
}
.contact-content{
  display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.content-story{
  width: 46%;
  text-align: left;
  font-family: Roboto;
    font-weight: 300;
}

.content-story > h1{
  font-family: Poppins;
  font-weight: 700;
}

textarea{
  width: 100%;
}
input{
  border: 1px solid #e9e7e7 ;
  height: 40px;
  padding: 0.7rem;
}
form{
  margin-top: 3.5rem;
}
input:focus {
  outline:none;
  }

  textarea{
    outline: none;
    border:1px solid #e9e7e7;
    padding: 0.7rem;
}

input[type="submit"]{
  background-color: #178ECD;
  color: white;
    line-height: 2px;
    border-radius: 10px;
    padding: 0 2rem;
    font-family: Poppins;
    font-weight: 600;
}

.icon{
  color: #178ECD;
  font-size: 1.5rem;
}

.contact-footer-content{
  background-color: #041629;
}
.contact-footer{
  background-color: #041629;
  display: flex;
  justify-content: space-around;
  padding: 2rem 9rem;
  width: 95%;
  margin: 0 auto;
}
.contact-footer >div{
  width: 16%;
  background-color: white;
    text-align: center;
    padding: 0.7rem 2rem;
    border-radius: 12px;
    font-size: .7rem;
    font-family: Poppins;
    font-weight: 700;
}

.contact-footer >div >h1{
  font-size: 2rem;
}
hr{
  background-color: #168ECA;
  height: 1px;
  width: 20%;
  margin-left: 0%;
}

.footer-container{
  /* height: 10vh; */
  background-color: #168ECA;
}

footer{
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    transform: translateY(5px);
    width: 100%;
    margin: 0 auto;
    padding-top: 5rem;
}
footer > a{
  width: 11%;
  letter-spacing: 2px;
  font-family: Poppins;
  font-weight: 700;
  color: #ffffff;
  margin-top: 1rem;
}
footer > a:hover{
    text-decoration: none;
    color: #ffffff;
}
footer > ul{
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-weight: 400;
  list-style: none;
}