

/* .row{
  margin: 0 auto;
    justify-content: center;
} */
ul{
  list-style: none;
  padding: 0;
}
ul li a{
  color: #ffffff;
}
ul li a:hover{
  color: #ffffff;
  text-decoration: none;
}


p > a{
  color: #ffffff;
}
p > a:hover{
  text-decoration: none;
  color: #ffffff;
}
 
header{
  background-image: linear-gradient(to left, #103b6678,#103B66),url('images/foreground.jpg');
  height: 80vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* clip-path: polygon(0% 0%,100% 0,100% 90%,50% 100%, 0 90%) */
}
.btn-nav{
  display: none;
  font-size: 2rem;
}

.sticky{
  position: fixed;
    width: 100%;
    background: #041629;
    top: 0;
    z-index: 100;
}
.contact-bar{
  padding: 0.7rem;
  font-family: Roboto;
  font-weight: 300;
  background-color: #000000;
  color: rgb(231 230 230);
}
.contact-bar .contact-address{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 83%;
}

.contact-bar .contact-address .address{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0;
  font-size: .8rem;
  padding: 0;
}
.contact-bar .contact-social{
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: .9rem;
  width: 15%;
  padding: 0;
}
.contact-bar p{
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  font-family: Poppins;
  width: 40%;
  font-weight: 500;
  font-size: .7rem;
}

#navBar{
  display: flex;
  justify-content: space-between;
  color:#ffffff ;
  width: 82%;
  margin: 0 auto;
}
#navBar img{
width: 100%;
}
#navBar ul{
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
  font-weight: 400;
  list-style: none;
  margin: 1rem 0;
  padding-left: 0%;

}

#navBar > p{
  width: 10%;
  letter-spacing: 2px;
  font-family: Poppins;
  font-weight: 700;
  margin: 1rem 0;
  
}

nav > p> a{
  text-decoration: none;
    color: #ffffff;
}
nav >ul{
  width: 28.5%;
}

.hero-text{
  width: 528px;
  position: absolute;
  top: 35%;
  left: 12.8%;
  font-family: Poppins;
  transform: translate(-50px, -50px);
}
.hero-text .hero-text-caption{
  width: 393px;
  font-size: 1.7rem!important;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-text .hero-text-caption > h2{
  font-weight: 600;
  font-size: revert;
}
.hero-text > h2{
 margin: 0;
}

.btn-read{
  border: 1px solid;
  padding: .4rem .7rem;
  border-radius: 7px;
  text-decoration: none;
  color: #ffffff;
}
.containers{
  max-width: 84%;
  margin: 0 auto;
  padding: 0 1rem;
}
.about-content{
    display: flex;
    justify-content: space-between; 
    margin-top: 5rem;
}

.about-story{
    width: 59%;
    text-align: left;
    font-family: Roboto;
    font-weight: 300;
}
.about-story >h1{
    font-family: Poppins;
    font-weight: 700;
    width: 50%;
}

#myBtn{
  border: 1px solid #768EA7;
  padding: 0.6rem;
  border-radius: 5px;
}
#myBtn:hover{
  cursor: pointer;
}

section{
  text-align: center;
  margin-top: 5rem;
  /* position: relative; */
}
section > h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem!important;
  margin: 4rem 0 1rem 0;
}

.service{
  margin-top: 5rem;
}
.service-content{
  padding: 3rem 0;
}
.service >p{
  margin: 0 0 3rem 0;
}
.service_img{
  width: 40%;
  margin: 0 auto;
}
.content >h2{
  font-size: 1.5rem!important;
  margin: 1rem 0!important;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.card{
  margin: 0.8rem 0 0.8rem 0;
}
.row1{
  margin-top: 0.8rem;
}

.row .col-lg-4 .card{
  position: relative;
  overflow: hidden;
}
.row .col-lg-4 .details{
  position: absolute;
  top:10px ;
  left: 10px;
  right: 10px;
  bottom:10px;
  z-index: 99;
  background: rgb(0,0,0,0.8);
  transform: scaleY(0);
  transition: transform .5s;
}


/* strategy */

.strategy-section{
  background-image: linear-gradient(to top, #041629 0%, #041629 1%, #041629 100%);
  margin-top: 5rem;
  padding: 3rem 0;
}

.strategy-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:3rem
  
}
.steps{
  font-family: Poppins;
  width: 33.33%;
  position: relative;
  color: #F3F3F3;
  z-index: 1;
}
.strategy-content .step_img_1::after,.step_img_3::after{
  background-image: url("images/right_arrow.png");
    background-repeat: no-repeat;
    bottom: -97px;
    content: "";
    display: block;
    height: 136px;
    position: absolute;
    right: 25px;
    width: 34px;
    z-index: 4;
}

.strategy-content .step_img_2::after{
  background-image: url("images/left_arrow.png");
    background-repeat: no-repeat;
    bottom: -97px;
    content: "";
    display: block;
    height: 136px;
    position: absolute;
    right: auto;
    left: 25px;
    width: 34px;
    z-index: 4;
}
.steps h1{
  font-size: 54px;
  margin-right: 0px;
  color:#FFF;
  /* margin-left: 117px; */
}
.steps .left span{
  font-weight: 600;
  left: -9%;
  letter-spacing: 1px;
  position: absolute;
  top: -100px;
  /*  */
  /* width: 100%; */
  z-index: -1;
  font-size: 200px;
}
.steps .left{
  margin-left: 133px;
}
.steps .right{
  margin-left: -30px
}
 .steps .right span{
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  top: -100px;
  left: 32%;
 
  /* width: 100%; */
  z-index: -1;
  font-size: 200px;
}
.right .steps h1{
  /* margin-left: -8px; */
  margin-right: 0;
}
.step_img_{
  padding: 0 4rem;
}
.strategy-content .steps img{
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  max-width: 100%;
}



/* Testimony */

.testimony{
  margin-top: 5rem;
}
.clients{
  display: flex;
  justify-content: space-between;
}
.container > h2{
  margin-bottom: 3rem;
}
.testimony-container{
  display: flex;
  justify-content: space-between;
  margin-top: -70px;
  padding: 0 2rem;
}

.img-cont{
  width: 20%;
  /* height: 70%; */
  
}
.testimony-content{
  width: 30%;
  position: relative;
  padding: 1rem 1rem 1rem;
  box-shadow: 1px 5px 9px 1px #888888;
  border-radius: 8px;
  background-color: white;
}
.testimony-content >p{
  margin-top: 1rem;
  text-align: left;
}

.client-details{
  display: flex;
  justify-content: space-between;
  color:#16406A;
  font-size: 0.6rem;
}

.img-container h4{
  text-align: left;
  margin-left: 1rem;
  font-family: Roboto;
  font-size: 1.2rem!important;
}

.testimony-content .img-cont img{
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

/* contact */
.contact{
  background-color: #F3F3F3;
}
.get-in{
  padding-right: 1.3rem;
}
.contact-content{
  display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.content-story{
  width: 50%;
  text-align: left;
  font-family: Roboto;
    font-weight: 300;
}

.content-story > h1{
  font-family: Poppins;
  font-weight: 700;
}
.social-contact{
 width: 25%;
 display: flex;
 justify-content: space-between;
 padding:2rem 0
}
textarea{
  width: 100%;
  resize: none;
  outline: none;
  border:1px solid #e9e7e7;
  padding: 0.7rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}
.control-form{
  border: 1px solid #e9e7e7 ;
  height: 40px;
  padding: 0.7rem;
  width: 100%;
  margin-bottom:1rem
}
form{
  display: flex;
}
input:focus {
  outline:none;
  }

input[type="submit"]{
  background-color: #178ECD;
    color: white;
     line-height: 30px;
    border-radius: 10px; 
     padding: 0 2rem; 
    font-family: Poppins;
    font-weight: 600;
    border: 1px solid #e9e7e7 ;
    margin-top: 1.5rem;
}

.icon{
  color: #178ECD;
  font-size: 1rem;
}

.contact-footer-content{
  background-color: #041629;
}
.contact-footer{
  background-color: #041629;
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  width: 74%;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-right: 1rem;
}
.contact-footer >div{
  width: 17%;
  background-color: white;
    text-align: center;
    padding: 0.7rem 2rem;
    border-radius: 12px;
    font-size: .7rem;
    font-family: Poppins;
    font-weight: 700;
}

.contact-footer >div >h1{
  font-size: 2rem;
}
hr{
  background-color: #168ECA;
  height: 1px;
  width: 20%;
  margin-left: 0%;
}

.footer-container{
  /* height: 10vh; */
  /* background-color: #168ECA; */
  border-top: 4px solid #168ECA;
  padding: 0.8rem 0;
  background-color: #fff;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.footer-content>ul>li {
  padding: 10px;
  color: #fff;
  font-family: Monserrat;
    font-size: 1.6rem;
}

.footer-content ul li:nth-child(2),li:nth-child(3),li:nth-child(4){
  font-family: Roboto;
    font-size: .8rem!important;
    letter-spacing: 1px;
    color: #ccc;
}

.footer-content .media-icon a{
  color:#ffffff;
  padding-right:1rem;
}
.footer-content .media-icon a i{
  color:#ffffff;
}
footer{
    color: #168ECA;;
    width: 74%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0.8rem;
}
.subscribe >input {
  font-size: .9rem;
  border: none;
  width: 100%;
  padding:0 .5rem;
  background: #000;
  color: #d8d7d7;
}
.subscribe .btn{
    border: none;
    font-style: normal;
    letter-spacing: 2px;
    width: 72%;
    padding: 4px 15px;
    display: inline-flex;
    align-items: center;
    border-radius: 0;
    justify-content: center;
    word-break: break-word;
    background-color: #c19b76!important;
    border-color: #c19b76!important;
}

.footer-copyright{
  padding: 2rem 0;
}


/* Media query css */

