


/* Desktops and laptops ----------- */

@media only screen 
and (max-width : 1240px) {
  .contact-bar .contact-address .address{
    width: 56%;
  }
  /* .about-story h1{
    width: 67%;
  } */
}

@media only screen 
and (min-width : 1224px) {
  .contact-bar .contact-address .address{
    width: 54%;
  }
  .about-story h1{
    width: 69%;
  }
}
@media only screen 
and (max-width : 1219px) {
  .about-story h1{
    width: 73%;
  }
}

@media only screen 
and (max-width : 1161px) {
  .about-story h1{
    width: 88%;
  }
}
@media only screen 
and (max-width : 1026px) {
  .contact-bar .contact-address .address {
    width: 58%;
    font-size: 0.7rem;
  }
  .about-story h1{
    font-size: 2.3rem;
    width: 89%;
  }
  .steps .left {
    margin-left: 57px;

  }
  .steps .left span{
    font-size: 115px;
    top: -37px;
  }
  .steps .right span{
    font-size: 115px;
    top: -37px;
  }
  .get-in {
    padding-right: 0.9rem;
  }
  .contact-footer{
    padding-right: 0;
  }
}
@media only screen 
and (max-width : 950px) {
  .about-story h1{
    font-size: 2rem;
    width: 71%;
  }
  .img-container{
    width: 49%;
  }
  
}
@media only screen 
and (max-width : 950px) {
  .about-story h1 {
    font-size: 1.5rem;
    width: 59%;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and  (max-device-width : 1024px)  {
  .contact-bar .contact-address .address{
    width: 60%;
    font-size: .7rem;
  }

  
}
@media only screen 
and  (max-device-width : 985px)  {
  .contact-bar .contact-address .address{
    width: 64%;
  }

  
}

@media only screen 
and  (max-device-width : 985px)  {
  .contact-bar .contact-address{
    width: 79%;
  }
  .strategy-content .step_img_1::after, .step_img_3::after {
     display: none;
  }
  .strategy-content .step_img_2::after {
    display: none;
 }
  
}
 

@media only screen 
and  (max-device-width : 768px)  {
  #navBar ul{
    display: none;
  }

  .btn-nav{
    display: block;
    width: 30%;
    text-align: right;
  }

  
}
@media only screen 
and  (max-device-width : 750px)  {
 .about-content{
  flex-wrap: wrap-reverse;
 }
 .img-container{
   width: 100%;
 }
 .about-story h1 {
  font-size: 1.5rem;
  width: 96%;
 }
 .about-story {
  width: 90%;
 }

  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 480px) {
  .contact-bar {
    display: none;
  }
}
