


/* Desktops and laptops ----------- */

@media only screen 
and (max-width : 1240px) {
  .contact-bar .contact-address .address{
    width: 56%;
  }
}

@media only screen 
and (min-width : 1224px) {
  .contact-bar .contact-address .address{
    width: 50%;
  }
  
}
@media only screen 
and (max-width : 1219px) {
  .about-story h1{
    width: 73%;
  }
}

@media only screen 
and (max-width : 1161px) {
  .about-story h1{
    width: 88%;
  }
}
@media only screen 
and (max-width : 1026px) {
  .contact-bar .contact-address .address {
    width: 58%;
    font-size: 0.7rem;
  }
  #navBar ul {
    font-size: 0.8rem;
     }
  .about-story h1{
    font-size: 2.3rem;
    width: 90%;
  }
  .steps .left {
    margin-left: 57px;

  }
  .steps .right span {
    left: 39%;
  }
  .steps .left span{
    font-size: 115px;
    top: -37px;
  }
  .steps .right span{
    font-size: 115px;
    top: -37px;
  }
  .get-in {
    padding-right: 0.9rem;
  }
  .contact-footer{
    padding-right: 0;
  }
}


/* iPads (portrait) ----------- */
@media only screen 
and  (max-device-width : 1024px)  {
  .contact-bar .contact-address .address{
    width: 60%;
    font-size: .7rem;
  }
  
  .service_img{
    width: 40%;
  }
.content h2{
  font-size: 1.2rem!important;
}
  
}

@media only screen 
and  (max-device-width : 985px)  {
  .hero-text .hero-text-caption {
    font-size: 1.4rem!important;
  }
  .containers {
    max-width: 80%;
  }
  #navBar > p {
    width: 18%;
    font-size: 0.8rem;
  }
  #navBar > ul {
    font-size: 0.8rem;
    width: 29%;
  }
  /* .contact-bar .contact-address .address{
    width: 64%;
  } */
  .contact-bar .contact-address{
    width: 79%;
  }
  .strategy-content .step_img_1::after, .step_img_3::after {
     display: none;
  }
  .strategy-content .step_img_2::after {
    display: none;
 }

 .testimony-content{
  font-size: .95rem;
 }

 .content-stry{
  font-size: 2rem;
 }
 .row1 .fields {
  padding-left: 2px;
 }
 .contact-footer{
  flex-wrap: wrap;
  /* justify-content: start; */
 }
 .contact-footer >div{
  padding: 0.7rem 1rem;
  margin-top: 1rem;
  width: 40%;
 }

 .social-contact {
  width: 36%;
 }

 footer{
  padding-right: 0;
  width: 80%;

 }

 footer ul{
   width: 20%;
  margin: revert;
 }

 #services .row .col-lg-4{
  flex: 0 0 48.333333%;
  max-width: 48.333333%;
 }
  
}

@media only screen 
and (max-width : 950px) {
  .hero-text .hero-text-caption {
    font-size: 1.5rem!important;
  }
  .about-story h1{
    font-size: 1.5rem;
    width: 50%;
  }
  .img-container{
    width: 49%;
  }
 .social-contact{
   display: none;
 }
  
}
 
@media only screen 
and  (max-device-width : 834px)  {
 
  .about-story h1 {
    width: 60%
  }
  .steps h1{
    font-size: 40px;
  }
  .steps .left span{
    font-size: 89px;
    left: 25%;
  }
  .steps .right span{
    left: 24%;
    font-size: 80px;
    top: -11px;
  }
  .steps .left{
    margin-left:132px
  }
  .steps .right {
    margin-left: 120px;
    margin-bottom: 0;
    margin-top: 1.2rem;
  }
  .step-content .lft {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .step-content .rgt{
    flex-wrap: wrap-reverse;
  }
  .strategy-content .steps{
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
  }
  .step_img_ {
    max-width: 57%;
  }
  .contact-content{
    flex-wrap: wrap;
  }
  .content-story {
    width: 100%;
  }
  .content-story h1{
    font-size: 2rem;
  }
  form{
    width: 100%;
    margin-top: 0.5rem;
  }
  form .control-form{
    width:100%
  }
  footer{font-size: 0.7rem;}
  footer p .footer-logo{padding-right:4rem;}
}


@media only screen 
and  (max-device-width : 778px)  {

  .containers {
    max-width: 75%;
}
  .contact-bar{
    display: none;
  }

  .btn-nav{
    display: block;
    width: 34%;
    text-align: right;
  }
  .about-story h1 {
    width: 62%
  }
  .clients{
    flex-wrap: wrap;
  }
  .testimony-content{
    width: 48%;
    margin-top: 1rem;
  }

  
}
@media only screen 
and  (max-device-width : 750px)  {
  .hero-text {
    width: 467px;
    left: 18.8%;
  }
  #navBar {
    width: 100%;
    justify-content: space-around;
  }
  #navBar > p {
    width: 16%;
  }
  #navbar .nav-ul{
    width: 55%;
  }
  .hero-text .hero-text-caption {
    font-size: 1.2rem!important;
}

.hero-text .hero-text-caption {
    width: 355px;
}
.hero-text-subcaption{
  width: 78%;
  font-size: 0.7rem;
}
.btn{
  font-size: 0.8rem;
}
 .about-content{
  flex-wrap: wrap-reverse;
 }
 .img-container{
   width: 100%;
 }
 .about-story h1 {
  font-size: 1.5rem;
  width: 96%;
 }
 .about-story {
  width: 90%;
 }

  #services .row .col-lg-4{
    flex: 0 0 100%;
    max-width: 100%;
  } 
  .contact-footer {

    justify-content: space-between;
  }
  .contact-footer >div {
    padding: 0.7rem 0;
    width: 47%;
  }
  footer ul {
    width: 28%;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 480px) {
  #navBar{
    width: 99%;
  }
  #navBar > p {
    width: 20%;
  }
  #navBar .nav-ul {
    display: none;
  }
  #navBar .toggle-nav{
    display: block;
  }
  .containers{
    max-width: 100%;
  }
  .contact-bar {
    display: none;
  }
  .hero-text {
    width: 375px;
  }
  .hero-text .hero-text-caption h1{
    font-size: 1rem!important;
  }
  /* .strategy-content .steps img {
    max-width: 80%;
} */
.service_img {width: 30%;}

  .testimony-content {
    width: 100%;
  }
  .footer-content{
    flex-wrap: wrap;
  }
}
